// react-datepicker component style
.react-datepicker__day{
    width: 35px;
    height: 35px;
    line-height: 35px;
    

    // Styles provided
    &--selected{
        border: 2px solid rgb(163, 109, 163);
        margin: 0px;
        background-color: white;
        color: black;
        &:hover{
            color: white;
            border: 2px solid rgb(144, 72, 144);
        }
    }

    &--weekend{
        background-color:  adjust-hue($color: #ebe7e7, $degrees: 0);
    }
    
    // Style from custom datepicker component
    &.with-users {
        color: red;
    }
}

// Own component
.DatePickerComponent{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    ul.UserList{
        list-style: none;
        padding: 0;
        margin: 0;
        h3{
            text-align: center;
            margin: 0.3em;
        }
        .UserItem{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            a{
                font-size: 1.4em;
                text-decoration: none;
                text-transform: capitalize;
                &:hover{
                    text-decoration: underline;
                }
                margin-bottom: 0.5em; 
            }
            img{
                display: block;
                max-width:230px;
                max-height:130px;
                width: auto;
                height: auto;
            }
        }
    }
}